@import 'vendor/bootstrap/bootstrap_custom';
@import 'vendor/font-awesome/font-awesome';
@import 'vendor/Flat-UI/flat-ui';

@import 'vendor/bootstrap/bootstrap/variables';
@import 'variables';

.btn {
  background: $bg-color;

  &.btn-primary {
    background-color: $tertiary-color;
  }

  &.btn-info {
    background-color: $secondary-color;
  }
}

.fui-bubble {
  &::before {
    color: $secondary-color;
  }
}

.demo-text-box {
  a {
    &:hover {
      color: $tertiary-color;
    }
  }
}

.demo-browser-content {
  background-color: $bg-color;
}

.navbar {
  .brand {
    color: $tertiary-color;
  }

  .nav {
    & > li {

      &:hover {
        & > ul {
          top: 100%;
        }
      }

      & > ul {
        &::before {
          border-color: transparent transparent $bg-color;
        }
      }

      & > a {
        border-radius: 5px;
        padding: 15px 15px 17px;

        &:hover {
          color: $tertiary-color;
        }
      }
    }

    ul {
      li {
        background-color: $bg-color;

        &.active {
          & > a {
            background-color: $tertiary-color;

            &:hover {
              background-color: $tertiary-color;
            }
          }
        }
      }

      a {
        &:hover {
          background-color: $tertiary-color;
        }
      }
    }
  }
}

.navbar-inverse {
  .navbar-inner {
    background: $navbar-color;
  }

  .nav {
    & > li {
      & > a {
        background-color: $button-background-color;
        color: $button-text-color;

        &:focus,
        &:hover {
          background-color: $button-active-background-color;
          color: $button-active-text-color;
        }
      }
    }

    .active {
      & > a {
        background-color: $button-background-color;
        color: $button-text-color;

        &:focus,
        &:hover {
          background-color: $button-active-background-color;
          color: $button-active-text-color;
        }
      }
    }
  }

  .navbar-toggle {
    background-color: $button-active-background-color;
    color: $button-active-text-color;
    padding-top: 0;

    &:focus,
    &:hover {
      color: $button-active-text-color;

      &::before {
        color: $button-active-text-color;
      }
    }

    &::before {
      color: $button-active-text-color;
    }
  }

  .dropdown-menu {
    a {
      &:focus,
      &:hover {
        background-color: $button-active-background-color;
        color: $button-active-text-color;
      }
    }
  }
}

.control-group {
  &.info {
    textarea {
      border-color: $secondary-color;
      color: $secondary-color;
    }

    input {
      &[type='text'],
      &[type='password'],
      &[type='datetime'],
      &[type='datetime-local'],
      &[type='date'],
      &[type='month'],
      &[type='time'],
      &[type='week'],
      &[type='number'],
      &[type='email'],
      &[type='url'],
      &[type='search'],
      &[type='tel'],
      &[type='color'] {
        border-color: $secondary-color;
        color: $secondary-color;
      }
    }

    &.uneditable-input {
      border-color: $secondary-color;
      color: $secondary-color;
    }
  }
}

.checkbox,
.radio {
  &:hover {
    color: $tertiary-color;
  }
}

.toggle {
  background-color: $bg-color;

  .toggle-radio {
    color: $tertiary-color;
  }
}

.tagsinput {
  .tag {
    background: $tertiary-color;
  }

  input {
    color: $bg-color;
  }
}

.tagsinput-add {
  &:hover {
    background-color: $tertiary-color;
  }
}


.progress,
.ui-slider {
  .bar {
    background: $tertiary-color;
  }

  .bar-info {
    background-color: $secondary-color;
  }
}

.ui-slider-range {
  background-color: $tertiary-color;
}

.pager {
  background-color: $bg-color;
}

.pagination {
  ul {
    & > li {
      & > a,
      & > span {
        &:focus,
        &:hover {
          background-color: $tertiary-color;
          border-color: $tertiary-color;
        }
      }
    }
  }
}

.tooltip {
  &.top,
  &.right,
  &.bottom,
  &.left {
    .tooltip-arrow {
      border-top-color: $bg-color;
    }
  }
}

.tooltip-inner {
  background-color: $bg-color;
}

.palette-firm {
  background-color: $tertiary-color;
}

.palette-info {
  background-color: $secondary-color;
}

.palette-night {
  background-color: $bg-color;
}

.palette-clouds {
  background-color: $accent-color2;
  color: $text-color;
}

.palette-silver {
  background-color: $text-color;
}

.palette-paragraph {
  span {
    color: $text-color;
  }
}

.todo {
  li {
    background: $bg-color url(image_path('todo/todo.png')) 92% center no-repeat;

    &.todo-done {
      background: transparent url(image_path('todo/done.png'))
      92% center no-repeat;
      color: $tertiary-color;

      .todo-name {
        color: $tertiary-color;
      }
    }
  }
}

.todo-search {
  background: $tertiary-color url(image_path('todo/search.png')) 92%
  center no-repeat;
  color: $bg-color;
}

input {
  &.todo-search-field {
    color: $bg-color;

    &.placeholder {
      color: $bg-color;
    }
  }
}

.footer-banner {
  background-color: $tertiary-color;
}

.video-js {
  background-color: $bg-color;
}

.vjs-play-progress {
  background: $tertiary-color;
}

.login-screen {
  background-color: $tertiary-color;
}

.login-form {
  .login-field {
    &:focus + .login-field-icon {
      color: $tertiary-color;
    }
  }
}

.jumbotron {
  color: $primary-color;
}

.badge {
  background-color: $secondary-color;
  color: $accent-color3;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  padding: 4px;
}

.border-top {
  border-top: 1px solid $primary-color;
}

a {
  & > .badge {
    color: $accent-color3;
  }

  &:hover {
    & > .badge {
      background-color: $accent-color1;
      color: $tertiary-color;
    }
  }
}
