@import 'vendor/bootstrap/bootstrap/variables';
@import 'variables';

article {
  .jumbotron {
    margin-bottom: 0;
  }
}

.jumbotron {
  background-color: $off-white;
  color: $primary-color;
  font-family: 'Quicksand';
  font-size: 60px;
  font-weight: normal;
  line-height: 70px;
  padding: 70px 0;
  position: relative;
  text-align: left;
}

.container {
  .jumbotron {
    padding-left: 0;
  }
}

.misapplied-jumbotron {
  background: url('../images/theme/tokyo-background.jpg');
  font-size: 60px;
  line-height: 80px;
  margin-bottom: 20px;
  overflow-x: hidden;

  .container {
    color: $off-white;
    text-align: center;
  }

  .tagline {
    color: $off-white;
    text-align: center;
  }
}

.tagline {
  font-weight: 400;
  margin-top: 0;
}

@media (max-width: $screen-xs-max) {
  .jumbotron {
    font-size: 40px;
  }

  .misapplied-jumbotron {
    .container {
      font-size: 90%;
    }

    .tagline {
      font-size: 22px;
    }
  }
}

@media screen and (min-width: $screen-tablet) {
  .jumbotron {
    h1,
    .h1 {
      font-size: 48px;
    }
  }
}
