@import 'vendor/bootstrap/bootstrap/variables';
@import 'variables';

.navbar {
  border-width: 0;
  margin-bottom: 0;

  .navbar-right {
    & > li {
      & > a {
        padding-bottom: 8px;
        padding-top: 8px;
      }
    }
  }
}

.navbar-nav {
  & > li {
    & > a {
      font-size: 18px;
      font-weight: normal;
    }
  }
}

.navbar-inner {
  border-radius: 0;
}

.navbar-inverse {
  background-color: $navbar-color;

  .navbar-toggle {
    &:focus,
    &:hover {
      background-color: $button-active-background-color;
    }

    .icon-bar {
      background-color: $button-active-text-color;
    }
  }
}

@media (min-width: $grid-float-breakpoint) {
  .navbar-right {
    margin-right: 0;
  }

  .navbar-collapse {
    .navbar-nav {
      &.navbar-right {
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

@media (max-width: $grid-float-breakpoint) {
  .navbar-inverse {
    .nav-collapse {
      .nav {
        & > li {
          & > a {
            &:focus,
            &:hover {
              color: $off-white;
            }
          }
        }
      }

      .dropdown-menu {
        a {
          &:focus,
          &:hover {
            color: $off-white;
          }
        }
      }
    }
  }
}
