@import "vendor/bootstrap/bootstrap/variables";
@import "variables";

.navbar {
  margin-bottom: 0px;
  border-width: 0px;
}

.navbar-inner {
  border-radius: 0px;
}

.navbar-inverse {
  background-color: $navbar-color;
}

.navbar-inverse .navbar-toggle:hover, 
.navbar-inverse .navbar-toggle:focus {
  background-color: $button-active-background-color;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: $button-active-text-color;
}

@media (min-width: $grid-float-breakpoint) {
  .navbar-right {
    margin-right: 0px;
  }
  
  .navbar-collapse .navbar-nav.navbar-right {
    &:last-child {
      margin-right: 0;
    }
  }
}

@media (max-width: $grid-float-breakpoint) {
  .navbar-inverse .nav-collapse .nav > li > a:hover,
  .navbar-inverse .nav-collapse .nav > li > a:focus,
  .navbar-inverse .nav-collapse .dropdown-menu a:hover,
  .navbar-inverse .nav-collapse .dropdown-menu a:focus {
    color: $off_white;
  }
}
