$white:                             #fff;
$off-white:                         #f1f1f1;
$off-white-light-transparency:      rgba(255, 255, 255, .8);
$light-blue:                        #08c;
$dark-blue:                         #005580;
$translucent-grey:                  rgba(255, 255, 255, .8);
$light-grey:                        #e5e5e5;
$grey:                              #5a5e5f;
$black:                             #333;
$slate-blue:                        #2c3e50;

// Jumbotron, Horizontal Rules, Headings
$primary-color:                     $black;
// Tags, Links, Main Heading, Quote Border
$secondary-color:                   $light-blue;
// Hover-over color, Active Page color
$tertiary-color:                    $dark-blue;
// Background color for tags
$accent-color1:                     $off-white;
// Sub-headings, Date Stamp
$accent-color2:                     #34495e;
// Tag text
$accent-color3:                     $off-white;
// Background
$bg-color:                          $off-white;
// Code background
// $code-bg-color:                     $slate-blue;
$code-bg-color:                     #002b36;
// Quote Color
$quote-color:                       $black;
// Body Text
$text-color:                        $grey;
// Footer
$footer-color:                      $grey;

// Navbar color
$navbar-color:                      $slate-blue;
// Toggle on/toggle off colors for the nav bar buttons
$header-button-toggled-on:          $off-white;
$header-button-toggled-off:         $navbar-color;
// Button hover over logic
$button-text-color:                 $header-button-toggled-on;
$button-active-text-color:          $header-button-toggled-off;
$button-background-color:           $header-button-toggled-off;
$button-active-background-color:    $header-button-toggled-on;
