@import 'flat-ui-custom';
@import 'navbar';
@import 'jumbotron';

@import 'vendor/bootstrap/bootstrap/variables';
@import 'vendor/bootstrap/bootstrap/mixins';
@import 'variables';
@import 'vendor/katex.min';
@import 'code_highlighting';

@import 'visualizations';
@import 'fonts';

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  background: $bg-color;
  color: $text-color;
  font: 18px/1.831 'Open Sans', sans-serif;
}

a {
  color: $secondary-color;

  &:hover {
    color: $tertiary-color;
  }
}

h1,
h2 {
  color: $primary-color;
}

h3,
h4,
h5,
h6 {
  color: $accent-color2;
}

h1 {
  font-family: 'Quicksand';
  font-weight: 900;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: 'Quicksand';
  font-weight: 500;
}

h1,
.h1 {
  font-size: 32px;
}

h2,
.h2 {
  font-size: 26px;
}

h3,
.h3 {
  font-size: 24px;
}

h4,
.h4 {
  font-size: 18px;
}

h5,
.h5 {
  font-size: 16px;
}

h6,
.h6 {
  font-size: 13px;
}

p,
li {
  font-weight: 300;
}

.thumbnail {
  border-width: 0;

  .caption {
    h3 {
      margin-bottom: 4px;
      margin-top: 2px;
    }

    p {
      line-height: $line-height-base;
      margin-bottom: 10px;
    }
  }
}

textarea {
  color: $bg-color;

  &:focus {
    border-color: $tertiary-color;
  }
}

input {
  // Workaround until
  // https://github.com/webpack-contrib/sass-loader/issues/351 is resolved
  // sass-lint:disable force-pseudo-nesting
  &[type='text'],
  &[type='password'],
  &[type='datetime'],
  &[type='datetime-local'],
  &[type='date'],
  &[type='month'],
  &[type='time'],
  &[type='week'],
  &[type='number'],
  &[type='email'],
  &[type='url'],
  &[type='search'],
  &[type='tel'],
  &[type='color'] {
    color: $bg-color;
  }

  &[type='text']:focus,
  &[type='password']:focus,
  &[type='datetime']:focus,
  &[type='datetime-local']:focus,
  &[type='date']:focus,
  &[type='month']:focus,
  &[type='time']:focus,
  &[type='week']:focus,
  &[type='number']:focus,
  &[type='email']:focus,
  &[type='url']:focus,
  &[type='search']:focus,
  &[type='tel']:focus,
  &[type='color']:focus {
    color: $bg-color;
  }
}

.uneditable-input {
  color: $bg-color;

  &:focus {
    border-color: $tertiary-color;
  }
}

footer {
  color: $footer-color;

  a {
    color: $secondary-color;
  }

  &.footer-page {
    margin-top: 40px;
  }
}

hr {
  border-top: 1px solid $primary-color;
}

@media (max-width: $screen-xs-max) {
  .categories-list {
    h1 {
      font-size: 24px;
    }
  }
}

.categories-list {
  .category {
    padding-bottom: .25em;
    padding-top: .25em;
  }
}

img {
  border: 0;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  width: auto;
}

article {
  img {
    @include center-block;
    height: 470px;
    width: 600px;
  }
}

.date-time {
  color: $accent-color2;
  font-size: 15px;
  font-weight: 500;
}

.btn {
  &.btn-default {
    &.dropdown-toggle {
      background-color: $navbar-color;
      color: $bg-color;

      &:active {
        color: $bg-color;
      }
    }
  }
}

.panel-body {
  &.vis-panel-body {
    background-color: $bg-color;
  }
}

.panel-heading {
  &.vis-panel-heading {
    background-color: $bg-color;
  }
}

.background-color-caret {
  border-bottom-color: $bg-color;
  border-top-color: $bg-color;
}

.katex-display {
  overflow-x: auto;

  & > .katex {
    overflow-y: hidden;
  }
}

.code-highlight-pre {
  white-space: pre;
}

figure {
  &.code-highlight-figure {
    margin-bottom: 30px;

    pre {
      &.highlight {
        border-bottom: 0;
        border-radius: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }

    td {
      &.rouge-gutter {
        pre {
          &.lineno {
            background-color: $code-bg-color;
            border: 0;
            margin-bottom: 0;
          }
        }
      }

      &.rouge-code {
        pre {
          background-color: $code-bg-color;
          border: 0;
          margin-bottom: 0;
        }
      }
    }

    .code-highlight-caption {
      background-color: $light-grey;
      background-image: linear-gradient($white, $light-grey 6%, $light-grey 90%,
        $light-grey);
      border: 1px solid $light-grey;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      color: $grey;
      font-family: 'Helvetica Neue', Arial, 'Lucida Grande',
      'Lucida Sans Unicode', Lucida, sans-serif;
      font-size: .9em;
      font-weight: normal;
      line-height: 2em;
      margin-bottom: 0;
      position: relative;
      text-align: center;
      text-shadow: $translucent-grey 0 1px 0;
    }
  }
}

.social-navbar {
  font-size: 36px;
  vertical-align: middle;
}

.pagination {
  background: inherit;

  a {
    margin-left: 10px;
    margin-right: 10px;
  }
}
