<%= partial 'partials/navbar' %>
<div class="jumbotron misapplied-jumbotron">
  <div class="container">
    <%= data.site.title %>
    <h3 class="tagline"><%= data.site.subtitle %></h3>
  </div>
</div>
