<div class="row">
	<div class="col-sm-12">
		<footer class="footer-page">
			<p class="text-center">
				Copyright © <%= "#{Date.today.year} - #{data.site.author}" %>
			</p>
		</footer>
	</div>
</div>
