@import '../../stylesheets/variables';

.cme-product-sectors-visualization {
  svg {
    text {
      font-size: 11px;
    }
  }
}

.cme-vis-chart-tooltip {
  background: $light-blue;
  border: 0;
  border-radius: 8px;
  color: $off-white;
  font-size: 22px;
  line-height: 28px;
  padding: 2px;
  text-align: center;
}
