rect {
  fill: none;
  pointer-events: all;
}

pre {
  font-size: 18px;
}

line {
  stroke: #000;
  stroke-width: 1.5px;
}

.string, .regexp {
  color: #f39;
}

.keyword {
  color: #00c;
}

.comment {
  color: #777;
  font-style: oblique;
}

.number {
  color: #369;
}

.class, .special {
  color: #1181B8;
}

a:link, a:visited {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #666;
}

.chart {
  display: block;
  margin: auto;
  margin-top: 40px;
  overflow: auto !important;
}

text {
  font-size: 11px;
}

rect {
  fill: none;
}

div .chart-tooltip {
  font-size: 22px;
  text-align: center;
  line-height: 28px;
  padding: 2px;
  color: #F1F1F1;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
}
