---
pageable: false
blog: blog
layout: simple_page
---

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Data driven everything</h1>
      <p>Misapplied Math aims to deliver unconventional and entertaining applications of computers and mathematics to trading, data science, and life. Pure mathematicians seek beautiful, elegant solutions to abstract problems. Noisy data, approximations, and heuristics underpin data science and statistics. At the intersection of pure and applied math, algorithms rule everything. From computer assisted proofs of the Kepler Conjecture to logistics, optimization, and cryptography, computers changed the way we seek quantitative solutions to problems. Opportunity drives innovation, and in finance, the delineation between trader, quant, and programmer fades. Increasingly sophisticated market participants remove old inefficiencies, and at times create new ones.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h1>About Me</h1>
      <p>I'm Kelly Littlepage, an entrepreneur and quant trader who works in the fields of machine learning, data science, computational perception and robotics, stochastic control, and auctions. I'm the founder of <%= link_to 'OneChronos', 'https://www.onechronos.com', target: '_blank' %>, an emergent financial market and order matching paradigm. When I'm not coding, I run, hike, and explore the cities that I've called home: Denver, Los Angeles, New York, Hong Kong, Chicago, and San Francisco.
      </p>
    </div>
  </div>
</div>
